# Composer files
composer.phar
vendor/

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

#Doctrine 2
data/DoctrineORMModule/Proxy/
data/DoctrineORMModule/cache/

#IntelliJ
*.iml
.idea

# stored data
*.csv
*.tsv

#  configuration files containing non public or machine specific info
config.*

# Legacy ZF1
demos/
extras/documentation
